@*@model System.Collections.Generic.List<WebStore.ViewModels.BrandViewModel>*@
@model IEnumerable<WebStore.ViewModels.BrandViewModel>


<div class="brands-name">
    @if (Model != null)
    {
        <ul class="nav nav-pills nav-stacked">
            @foreach (var item in Model)
            {
                <li>
                    <a href="#">
                        <span class="pull-right">(@item.Rating)</span> @item.Name
                    </a>
                </li>
            }
        </ul>
    }
</div>
